<ul>
	<li>
		<div class="job">
			<h2>
				<a href="http://www.hostdime.com/">HostDime</a>
				<small>Systems Developer</small>
			</h2>
			<p>Zend, PHP, Ruby on Rails, Android</p>
		</div>		
	</li>
	<li>
		<div class="job">
			<h2>
				<a href="http://tiohome.com/">Automated Control Technology Partners Inc.</a>
				<small>Software Developer</small>
			</h2>
			<p>Node.js, Android</p>
		</div>		
	</li>
	<li>
		<div class="job">
			<h2>
				<a href="http://home.whitehotlogic.com/index.php">Whitehotlogic</a>
				<small>Engineer</small>
			</h2>
			<p>PHP, Java, Magento, Drupal, Wordpress</p>
		</div>		
	</li>
	<li>
		<div class="job">
			<h2>
				<a href="http://www.highforge.com/">Highforge Solutions</a>
				<small>Web Developer</small>
			</h2>
			<p>PHP, Drupal, Wordpress</p>
		</div>		
	</li>
	<li>
		<div class="job">
			<h2>
				<a href="http://www.hostdime.com/">HostDime</a>
				<small>Server Analyst I</small>
			</h2>
			<p>Linux, MySQL, Apache, Bash, SSH, CPanel, WHM</p>
		</div>		
	</li>
</ul>
