<nav class="social-networks">
    {% for page in site.pages %}
      {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
    <div class="vr"></div>
	<a href="{{site.github_url}}"><i class="fa fa-github-alt fa-1x"></i></a>
	<a href="{{site.twitter_url}}"><i class="fa fa-twitter fa-1x"></i></a>
	<a href="{{site.linkedin_url}}"><i class="fa fa-linkedin fa-1x"></i></a>
	<a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss fa-1x"></i></a>
</nav>